.button {
    border: 1px solid grey;
    border-radius: 4px;
    padding: 10px 15px;
    margin: 10px 5px;
    padding: 5px 10px;
    outline-width: 0px;
    cursor: pointer;
    transition: 250ms;
}
.button:hover {
    color: white;
    background-color: rgb(123, 0, 194);
}