.product_list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-auto-rows: auto;
    row-gap: 20px;
    column-gap: 20px;
}

@media (max-width: 1050px) {
    .product_list {
        grid-template-columns: 1fr 1fr 1fr;
    }
}

@media (max-width: 800px) {
    .product_list {
        grid-template-columns: 1fr 1fr;
    }
}

@media (max-width: 550px) {
    .product_list {
        grid-template-columns: 1fr;
    }
}






